body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Wheel component styling */
#wheel-container{
  height: 40%;
  width: 65%;
  border: 1px solid grey;
  margin: auto;
  border-radius: 50%;
  position: relative;
  display: flex;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  background-color: rgb(221, 221, 221);
  transition: transform ease-in-out 0.2s;
}

#inner-area{
  width:50%;
  height: 50%;
  outline: none;
  background-color: rgb(90, 90, 90);
	border-radius: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border: none;
}



/* Screen Component Styling */

.main-container{
  width: 25%;
  height: 90vh;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
  border-radius: 10%;
  padding-bottom:15px;
  box-shadow: inset 0px 0px 20px 4px darkgrey;
  border: 2px solid #4e454d73;
  background: linear-gradient(357deg, #ab8989, #846c6c00);
}

#menu{
  width:60%;
  height: 90%;
  margin-top: -8px;
  border-radius: 10%;
  background: #8071719e;
}

#item>div>h4{
  padding-left: 6px;
}
.padding-2px{
  padding: 0 5px;
}
#brand-title>h2{
  text-align: center;
  padding-top: 5px;
  color: #26304c;
}

.display-none{
  display: none;
}
#screen-container{
    background-image: url('./resources/main-cover.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    border-radius: 12% 12% 0 0;
    box-shadow: 0px -1px 19px 4px #775858;
    height:60%;
    margin: 15px;
}

.selected
{
  background: linear-gradient(
    357deg
    , #61afab, #cc689f);
        border-radius: 20px;
        padding: 0px 10px;
        line-height: 1.7rem;
        transition: padding 0.5s linear;
        color: #a00815;
}
.menuItem{
  color: white;
  padding: 0 10px;
  background: #bfcbd0ad;
  border-radius: inherit;
  height: 100%;
  position: relative;
}

#menu-btn{
    position: absolute;
    top: 15px;
    outline: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
}
#left-btn{
  position: absolute;
  font-size: 1.5rem;
	justify-content: center;
	align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
  left: 1.5%;
}
#right-btn{
    position: absolute;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: none;
    right: 1.5%;
}
#pause-btn{
  position: absolute;
  font-size: 1.5rem;
	justify-content: center;
	align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
  bottom: 15px;
}

/* 1. CoverFlow Component */

#coverflow-section{
  position: relative;
  width: 100%;
  top: 2.5%;
  height: 95%;
}

#coverflow-img{
  position: absolute;
  width: 75%;
  height: 50%;
  top: 22%;
  margin-left: 10%;
  background-image: url(https://image.flaticon.com/icons/png/256/5089/5089144.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#coverflow-title{
  position: absolute;
  font-size: 1.4rem;
}

/* 2. Music Component */

/* 2.1 All Songs Screen */
#all-songs-container{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

#all-songs-container>div{
  padding: 20px;
  width: 50px;
  margin: 30px 3px;
  height: 50px;
  background-position: center;
  background-size: cover;
}
#song1{
  background-image: url(./resources/all-songs-img-1.jpeg);
}
#song2{
  background-image: url(./resources/all-songs-img-2.jpeg);
}
#song3{
  background-image: url(./resources/all-songs-img-3.jpeg);
}
#song4{
  background-image: url(./resources/all-songs-img-4.jpeg);
}
/* 2.2 Artists Screen */

#artists-section,#album-section{
height: 100% ;
width: 100%;
position: relative;
}
#artists-cover{
background-image: url(./resources/Memories.jpg); 
background-position: center;
width: 90%;
margin-left: 5%;
height: 50%;
position: absolute;
top: 10%;
background-size: cover;
}
#artists-song,#album-song{
position: absolute;
width: 90%;
bottom: 10%;
margin-left: 2%;
}

/* 2.3 Album Screen */

#album-cover{
  background-image: url(./resources/baarish.jpg); 
  background-position: top;
  width: 90%;
  margin-left: 5%;
  height: 50%;
  position: absolute;
  top: 10%;
  background-size: cover;
  }


  /* Go Back */

  #goBack{
    padding: 10px;
    text-align: center;
    word-spacing: 3px;
    letter-spacing: 0.8px;
    line-height: 1.2rem;
  }

/* 3.Game Component */
#gameGif{
  width: 100%;
  margin-top: 15px;
  height: 90%;
  border-radius: inherit;
}

/* 4. Settings Component */
#settings-img{
  margin-left: 25%;
  margin-top: 40%;
  position: absolute;
}

/* KeyFrames */
/* Infinite rotating */
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 8s linear infinite alternate;
}

/* Infinite scaleUpDown */
@keyframes scaleUp {
    0%   {transform: scale(1.2);}
    25%  {transform: scale(1);}
    50%  {transform: scale(1.1);}
    75%  {transform: scale(1);}
    100% {transform: scale(1.3);}
}
.scaleUp {
  animation: scaleUp 1s linear infinite alternate;
}
/* Infinite TextColorChange */
@keyframes changeTextColor {
  0%   {color: yellow;}
  25%  {color: yellowgreen;}
  50%  {color: green;}
  75%  {color: orange;}
  100% {color: red;}
}
.changeTextColor {
animation: changeTextColor 1s linear infinite alternate;
}
/* Infinite BgColorChange */
@keyframes changeBgColor {
  0%   {background-color: #858519c7;}
  25%  {background-color: #9acd32b8;}
  50%  {background-color: #008000ab;}
  75%  {background-color: #ffa500a6;}
  100% {background-color: #ff000066;}
}
.changeBgColor {
animation: changeBgColor 1s linear infinite alternate;
}

/* Media Queries for responsiveness*/

@media only screen and (max-width: 1000px)
{
  .main-container {
    width: 30%;
  }
}
@media only screen and (max-width: 800px)
{
  .main-container {
    width: 40%;
  }
}
@media only screen and (max-width: 600px)
{
  .main-container {
    width: 60%;
  }
}

@media only screen and (max-width: 400px)
{
  .main-container {
    width: 90%;
  }
}